<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="frontend_reservation_cs"
        connectionString="Data Source=.;initial Catalog=FRONTEND_RESERVATION;Integrated Security=True;Encrypt=False"
        providerName="System.Data.SqlClient" />
    <add name="login_cs"
        connectionString="Data Source=.;Initial Catalog=LOGIN_MANAGER;Integrated Security=True;Encrypt=False;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>